---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="https://jawon.gitee.io" target="_blank" class="gpt-title">Chat With</a>
    <a href="https://jawon.gitee.io" target="_blank" class="gpt-subtitle">Jawon AI</a>
  </div>
  <p mt-1 op-60>
    Welcome to chat with Jawon AI!
  </p>
</header>
